.button {
    width: 100%;
    height: 2rem;
    margin: 2rem 0;
    background: #3d3df1;
    color: #ffffff;
    border-radius: 4px;
    transition: all .2s ease-in-out;
}

.button:hover {
    transform: scale(1.1);
}

@media (min-width: 1024px) {
    .button {
        width: 6rem;
        height: 2.5rem;
        box-shadow: 2px 3px #888888
    }
}